{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="section center-align">
        <h1><b>FinTrackr</b></h1>
        <h6>Personal Expense Tracker</h6>
        <hr>
        <br>
        <div class="row">
            <div class="col s12">
                <a href="{% url 'login' %}" class="waves-effect waves-light btn teal">Login</a>&nbsp;
                <a href="{% url 'register' %}" class="waves-effect waves-light btn purple lighten-1">Register</a>
            </div>
        </div>
    </div>
{% endblock %}
