{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="section" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 5%;">
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <div class="card z-depth-2" style="border-radius: 15px; box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);">
                    <div class="card-content">
                        <h2 class="center-align"><b>Signup</b></h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-field col s12">
                                <input type="text" id="username" name="username" required>
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="email" id="email" name="email" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="password" id="password" name="password" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="password" id="password2" name="password2" required>
                                <label for="password2">Confirm Password</label>
                            </div>
                            <div class="center-align">
                                <button type="submit" class="btn waves-effect waves-light teal">Register</button>
                            </div><br>
                        </form>
                        <p class="center-align">Already a user? <a href="{% url 'login' %}"> Login</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
