{% extends 'base.html' %}
{% block content %}
    <div class="section">
        <h2 class="center-align">Spending Overview</h2>
        <div class="row">
            <div class="col s4">
                <div class="card teal lighten-4">
                    <div class="card-content">
                        <span class="card-title">Total Income</span>
                        <p>₹<span id="total-income">{{ total_income }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card red lighten-4">
                    <div class="card-content">
                        <span class="card-title">Total Expense</span>
                        <p>₹<span id="total-expense">{{ total_expense }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card green lighten-4">
                    <div class="card-content">
                        <span class="card-title">Balance</span>
                        <p>₹<span id="balance">{{ balance }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-align">
            <a href="{% url 'add_income' %}" class="btn waves-effect waves-light green">Add Income</a>&nbsp;
            <a href="{% url 'add_expense' %}" class="btn waves-effect waves-light red">Add Expense</a>
            <a href="{% url 'dashboard' %}" class="btn waves-effect waves-light amber">Dashboard</a>
        </div>
    </div>
{% endblock %}
