{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <h2 class="center-align">Transactions</h2>

    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="card-panel {{ message.tags }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="center-align">
        <form method="get" class="filter-form" style="width: 200px;">
            <label for="filter"><b>Filter by:</b></label>
            <select id="filter" name="filter" onchange="this.form.submit()">
                <option value="daily" {% if filter_type == 'daily' %}selected{% endif %}>Daily</option>
                <option value="weekly" {% if filter_type == 'weekly' %}selected{% endif %}>Weekly</option>
                <option value="monthly" {% if filter_type == 'monthly' %}selected{% endif %}>Monthly</option>
                <option value="yearly" {% if filter_type == 'yearly' %}selected{% endif %}>Yearly</option>
            </select>
        </form>
    </div>

    <div class="row" style=" max-height: 400px; overflow-y: scroll;">
        <div class="card-panel z-depth-2" style="border-radius: 15px; box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);">
            <table class="highlight centered striped compact-table">
                <thead>
                    <tr class="{% if transaction.transaction_type == 'expense' %}red lighten-4{% elif transaction.transaction_type == 'income' %}green lighten-4{% endif %}">
                        <th>Date</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.category.name }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td class="transaction-description">{{ transaction.description|default:"" }}</td>
                            <td>
                                <!-- Edit button -->
                                <a href="{% url 'edit_transaction' transaction.id %}" class="btn-floating blue waves-effect waves-light" title="Edit">
                                    <i class="tiny material-icons">edit</i>
                                </a>
                                <!-- Delete button -->
                                <a href="{% url 'delete_transaction' transaction.id %}" class="btn-floating red waves-effect waves-light" title="Delete">
                                    <i class="tiny material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No transactions found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
